:root{
  --primary:rgb(235 119 157);
  --text:rgb(236 85 152)}
html::-webkit-scrollbar {
  width:7px;
  background-color:#ddd}
html::-webkit-scrollbar-thumb {
  background-color:#999}
*{
  margin:0;
  box-sizing:border-box}
a{
  text-decoration:none !important}
ul{
  list-style-type:none;
  padding-left:0}
ul.inline li{
  display:inline-block}
.inner{
  width:1200px;
  margin:auto}
.btn{
  padding:10px 20px 8px;
  border:unset;
  text-transform:uppercase;
  font-weight:bold}
.btn-primary{
  background-color:var(--primary) !important;
  color:#fff}
.pt-80{
  padding-top:80px}
.pb-80{
  padding-bottom:80px}
.pb-60{
  padding-bottom:60px}
.mt-80{
  margin-top:80px}
.mb-80{
  margin-bottom:80px}
.mb-60{
  margin-bottom:60px}




#slide{
  position:relative;
  overflow:hidden}
.slide{
  width:200%;
  height:100vh;
  transform:translateX(0);
  transition:1s}
.slide-child{
  width:50%;
  height:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  float:left}
.slide-child:first-child{
  background-image:url("img/slide1.jpg")}
.slide-child:nth-child(2){
  background-image:url("img/slide2.jpg")}


.control{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  opacity:0;
  transition:0.5s}
#slide .control:hover,
#section6 .inner:hover .control{
  opacity:1}
.control div {
  width:50px;
  height:50px;
  line-height:45px;
  text-align:center;
  cursor:pointer;
  opacity:0.7}
#slide .control div {
  background:var(--primary);
  font-size:30px;
  color:#fff;
  margin:0 20px;
  border-radius:5px}
.control div:hover {
  opacity:1}


:is(#section1, #section5) h1 {
  font-size:28px;
  letter-spacing:10px;
  text-transform:uppercase;
  font-weight:700}
:is(#section1, #section5) h1 span {
  display:block;
  letter-spacing:normal;
  color:var(--text);
  font-size:38px;
  line-height:41px;
  text-transform:capitalize;
  font-style:italic;
  font-weight:400;
  margin-bottom:4px}
.product-image img{
  width:100%}
div[style*="--products"]{
  position:relative;
  overflow:hidden}
.products{
  width:calc(var(--products) * 100%);
  transform:translateX(0);
  transition:1s}
.product {
  width:calc(100% / var(--products));
  height:100%;
  float:left}

.product-control{
  position:absolute;
  top:0;
  right:0;
  width:60px;
  display:flex;
  justify-content:space-between;
  font-size:x-large;
  color:var(--text)}
.product-control i{
  cursor:pointer}
.product-info h3 {
  text-transform:uppercase;
  font-size:18px;
  font-weight:400;
  margin-bottom:18px}
.price{
  font-size:17px;
  color:var(--text);
  font-weight:400}
.price.old{
  font-size:16px;
  text-decoration:line-through}
.product-info :is(.rating, .details){
  color:#666;
  margin-bottom:24px}



.gallery > div {
  float:left;
  width:25%;
  height:250px;
  overflow:hidden;
  position:relative}
.gallery img {
  width:100%;
  height:100%;
  object-fit:cover;
  transition:2s}
.gallery > div:hover img {
  transform:scale(1.5)}
.gallery > div a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0;
  transition:2s;
  display:grid;
  align-items:center;
  text-align:center;
  font-size:xx-large;
  font-weight:bold;
  color:#fff}
.gallery > div:hover a {
  opacity:.7}




div[style*="--person"]{
  position:relative;
  overflow:hidden}
.persons{
  width:calc(var(--person) * 100%);
  transform:translateX(0);
  transition:1s;
  display:-webkit-box}
.person {
  width:calc(100% / var(--person) /4);
  height:100%;
  float:left;
  padding:25px 25px 0;
  text-align:center}
.person > div:first-child {
  position:relative;
  overflow:hidden;
  border-radius:50%;
  border:6px solid #fff;
  box-shadow:0 2px 25px #0002,
      0 2px 15px #0003}
.person img{
  width:100%;
  height:auto}
.person ul {
  transition:0.4s;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(235 119 157/0.6);
  padding-top:60%;
  opacity:0}
.person ul a {
  color:#fff;
  margin:0 3px}
.person h2{
  transition:0.4s;
  margin:10px 0;
  font-size:24px;
  color:#222;
  font-weight:400;
  text-transform:uppercase}
.person p{
  color:#292929;
  margin-bottom:0}
.person:hover ul {
  opacity:1}
.person:hover :is(h2, ul){
  color:var(--text)}

.person-control{
  margin:auto;
  width:fit-content}
.person-control li{
  width:12px;
  height:12px;
  border:1px solid var(--text);
  border-radius:50%;
  cursor:pointer}
.person-control li.active{
  background:var(--primary)}


#section6 > div{
  position: relative;
}
#section6{
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  background-image:url("img/bg-section6.jpg")}
div[style*="--brand"]{
  position:relative;
  overflow:hidden}
.brands{
  width:calc(var(--brand) * 100%);
  transform:translateX(0);
  display:flex;
  align-items:center;
  transition:1s}
.brands img {
  width:calc(100% / var(--brand) /4);
  height:100%;
  float:left;
  padding: 60px;
  text-align:center}
#section6 .control i {
  font-weight: bold;
  font-size:40px;
}
.back-to-top{
  position: relative;
  height: 4px;
  background: var(--text);
}
.back-to-top i{
  position: absolute;
  bottom: -23px;
  width: 50px;
  height: 50px;
  background: var(--text);
  left: calc(50% - 25px);
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  }