:root{
  --primary:rgb(235 119 157);
  --text:rgb(236 85 152)}
html::-webkit-scrollbar {
  width:7px;
  background-color:#ddd}
html::-webkit-scrollbar-thumb {
  background-color:#999}
*{
  margin:0;
  box-sizing:border-box}
a{
  color:currentColor;
  text-decoration:none !important}
a:hover{
  color:var(--text)}
ul{
  list-style-type:none;
  padding-left:0}
ul.inline li:not(li ul li){
  display:inline-block}
.fa {
  color:currentColor}
.bg-img{
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.btn{
  padding:10px 20px 8px;
  border-color:var(--primary);
  text-transform:uppercase;
  box-shadow:none !important;
  font-weight:bold}
.btn:hover{
  border-color:var(--text)}
.btn-primary{
  background-color:var(--primary);
  color:#fff}
.btn-primary:hover{
  background-color:var(--text)}
.btn-outline-primary:hover{
  background-color:unset;
  color:var(--text)}
.pd-8{
  padding:8px}
.pd-10{
  padding:10px}
.pt-60{
  padding-top:60px}
.pt-80{
  padding-top:80px}
.pb-60{
  padding-bottom:60px}
.pb-80{
  padding-bottom:80px}
.mt-80{
  margin-top:80px}
.mt-60{
  margin-top:60px}
.mb-80{
  margin-bottom:80px}
.mb-60{
  margin-bottom:60px}




body{
  position: relative;
}
#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.top{
  height: 35px;
  background-color: var(--primary);
  /*  */
}
.top .container{
  display: flex;
  height: 100%;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  font-weight: 500;
}
.top a:hover{
  color: unset;
}
.top a:last-child{
  margin-left: 10px;
}


.header {
  background-color: rgb(0 0 0 /.5);
  /* background-color: aliceblue; */
}
.header .row{
  display: flex;
  align-items: center;
}
.header .row > div {
  float: left;
  /* height: 100px; */
}
.menu{
  position: unset;
}
.header-menu{
  color: #fff;
  /* height: 100px; */
  margin-bottom: 0;
  display: flex;
  align-content: center;
}
.header-menu  > li{
  padding: 35px 0;
  margin: 0 10px;
  align-self: center;
  border-bottom: 3px solid transparent;
}
.header-menu  > li:is(:last-child, :nth-last-child(2)){
  padding:10px;
}
.header-menu  > li > a{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.header-menu > li.active{
  border-block-color:var(--primary);
}
.header-menu > li:is(:hover, .active) >a{
  color: var(--primary);
}
#service{
  position: unset;
}
.dropdown-menu{
  display: none !important;
  top:100% !important;
  transform: none !important;}
#service .dropdown-menu{
  right: 0;
  margin-top: 0;
  border: none;
  background-color: #000c;
}
.dropdown:hover > .dropdown-menu{
  display: block !important;
}

#service .container{
  display: flex;
}
#service .dropdown-item{
  /* float: left; */
  /* display: grid; */
  color: #fff;
  font-size: 14px;

}
#service .dropdown-item:is(:hover, :active){
  background-color: unset;
  color: #fff;
}
#service .dropdown-item a:not(#service ul a){
  border: 1px dashed #fff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  height: fit-content;
  padding: 3px 0;
  display: block;
}
#service .dropdown-item a:not(#service ul a):hover{
  border-color: var(--primary);
}
#service .dropdown-item ul{
  border: 1px solid #222;
  margin-top: 15px;
  padding: 4px 0;
}
#service .dropdown-item li{
  padding: 4px 0 4px 5px;
}


#recruit .dropdown-menu{
  margin: 0;
  border: 0;
  padding: 0;
  box-shadow: 0 0 5px #000;
}
#recruit > .dropdown-menu{
  margin-top:3px;
}
#recruit .dropdown-item{
  background: var(--primary);
    color: #fff;
    padding: 8px 24px 8px;
}
#recruit .dropdown-item:first-child{
  border-bottom: 1px solid #fff;
}
#recruit .dropdown-item:hover{
  background: var(--text);
    color: #fff;
}
#recruit .dropdown-item a:hover{
  color: #fff;
}
.dropdown.dropright > .dropdown-menu{
  top: 0 !important;
  left:100% !important;
}






#slide{
  position:relative;
  overflow:hidden}
.slide{
  width:200%;
  height:100vh;
  transform:translateX(0);
  transition:1s}
.slide-child{
  width:50%;
  height:100%;
  background-attachment: fixed;
  float:left}
.slide-child:first-child{
  background-image:url("img/slide1.jpg")}
.slide-child:nth-child(2){
  background-image:url("img/slide2.jpg")}


.control{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  opacity:0;
  transition:0.5s}
#slide .control:hover,
#section6 .container:hover .control{
  opacity:1}
.control div {
  width:50px;
  height:50px;
  line-height:45px;
  text-align:center;
  cursor:pointer;
  opacity:0.7}
#slide .control div {
  background-color:var(--primary);
  font-size:30px;
  color:#fff;
  margin:0 20px;
  border-radius:5px}
.control div:hover {
  opacity:1}






.info{
  position: relative;
  background-image: url('img/bg-section6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.info::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: calc(100% - 0px);
  background-color: #fff;
}
.info-image {
  border: 5px solid #fff;
  border-right: none;
  padding: 0;
}
.info-image img {
  width: 100%;
  object-fit:cover;
  height: 100%;
  margin-left: 60px;
  margin-top: -60px;
}
.info-text{
  padding-left: 100px;
  padding-top: 60px;
}
.info-text h2 {
  letter-spacing: 10px;
  font-size: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
}



:is(#section1, #section4, #section5) h1 {
  font-size:28px;
  letter-spacing:10px;
  text-transform:uppercase;
  font-weight:700}
:is(#section1, #section4, #section5) h1 span {
  display:block;
  letter-spacing:normal;
  color:var(--text);
  font-size:38px;
  line-height:41px;
  text-transform:capitalize;
  font-style:italic;
  font-weight:400;
  margin-bottom:4px}
.product-image img{
  width:100%}
div[style*="--products"]{
  position:relative;
  overflow:hidden}
.products{
  width:calc(var(--products) * 100%);
  transform:translateX(0);
  transition:1s}
.product {
  width:calc(100% / var(--products));
  height:100%;
  float:left}

.product-control{
  position:absolute;
  top:0;
  right:0;
  width:60px;
  display:flex;
  justify-content:space-between;
  font-size:x-large;
  color:var(--text)}
.product-control i{
  cursor:pointer}
.product-info h3 {
  text-transform:uppercase;
  font-size:18px;
  font-weight:400;
  margin-bottom:18px}
.price{
  font-size:17px;
  color:var(--text);
  font-weight:400}
.price.old{
  font-size:16px;
  text-decoration:line-through}
.product-info :is(.rating, .details){
  color:#666;
  margin-bottom:24px}





#section2{
  color: #fff;
  background-color: #000;
}
#section2 .bg-img{
  min-height: 100vh;
  padding: 80px 5% 0;
    transition: 1s;
    background-size: 87%;
  background-image: url('img/bg-section2.jpg');

}
#section2 .bg-img:hover{
  background-image: url('img/bg-section2-hover.jpg');
}
.s2-main{
  display: flex;
  justify-content: space-between;
}
.s2-main > div{
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}
.paragraph p,
#section3 :is(p, a) {
  font-family: revert;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 2px #75C8D8;
}
.paragraph h3 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 16px;
}


#section3 .bg-img{
  min-height: calc(100vh - 100px);
  background-image: url('img/bg-section3.jpg');
  display: flex;
    align-items: center;
}
#section3 .container > div{
  width: 50%;
  color: #fff;
}
#section3 h1{
  font-weight: bold;
}
#section3 h5{
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 22px;
}
#section3 a{
  margin-top: 20px;
  display: block;
    width: fit-content;
  text-transform: capitalize;
  border: 1px solid #75C8D8;
  padding: 10px 30px 12px;
}
#section3 a:hover {
  color: unset;
  border-color: #E3A017;
  text-shadow: 0 0 2px #E3A017;
}



#section4 ul {
margin-bottom: 50px;
}
#section4 li {
  border-bottom: 2px solid transparent;
  /* font-size: 14px; */
  line-height: 26px;
  color: #6b6b6b;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  margin: 0 20px;
  transition: 1s;
}
#section4 li:is(.active, :hover) {
  color: var(--primary);
  border-bottom-color: var(--primary);
}
.gallery{
  display: flow-root;
}
.gallery > div {
  float:left;
  width:25%;
  height:250px;
  overflow:hidden;
  position:relative}
.gallery img {
  width:100%;
  height:100%;
  object-fit:cover;
  transition:2s}
.gallery > div:hover img {
  transform:scale(1.5)}
.gallery > div a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000;
  opacity:0;
  transition:2s;
  display:grid;
  align-items:center;
  text-align:center;
  font-size:xx-large;
  font-weight:bold;
  color:#fff}
.gallery > div:hover a {
  opacity:.7}
#section4 > div:last-of-type{
background-color: var(--primary);
}
#section4 .container p {
  color: #fff;
}
#section4 .container a{
  background-color: #fff;
  border: none;
}



div[style*="--person"]{
  position:relative;
  overflow:hidden}
.persons{
  width:calc(var(--person) * 100%);
  transform:translateX(0);
  transition:1s;
  display:-webkit-box}
.person {
  width:calc(100% / var(--person) /4);
  height:100%;
  float:left;
  padding:25px 25px 0;
  text-align:center}
.person > div:first-child {
  position:relative;
  overflow:hidden;
  border-radius:50%;
  border:6px solid #fff;
  box-shadow:0 2px 25px #0002,
      0 2px 15px #0003}
.person img{
  width:100%;
  height:auto}
.person ul {
  transition:0.4s;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(235 119 157/0.6);
  padding-top:60%;
  opacity:0}
.person ul a {
  color:#fff;
  margin:0 3px}
.person h2{
  transition:0.4s;
  margin:10px 0;
  font-size:24px;
  color:#222;
  font-weight:400;
  text-transform:uppercase}
.person p{
  color:#292929;
  margin-bottom:0}
.person:hover ul {
  opacity:1}
.person:hover :is(h2, ul){
  color:var(--text)}

.person-control{
  margin:auto;
  width:fit-content}
.person-control li{
  width:12px;
  height:12px;
  border:1px solid var(--text);
  border-radius:50%;
  cursor:pointer}
.person-control li.active{
  background-color:var(--primary)}


#section6> div{
  background-image:url("img/bg-section6.jpg")}
div[style*="--brand"]{
  position:relative;
  overflow:hidden}
.brands{
  width:calc(var(--brand) * 100%);
  transform:translateX(0);
  display:flex;
  align-items:center;
  transition:1s}
.brands img {
  width:calc(100% / var(--brand) /4);
  height:100%;
  float:left;
  padding:60px}
#section6 .control i {
  font-weight:bold;
  font-size:40px}
.back-to-top{
  position:relative;
  height:4px;
  background-color:var(--text)}
.back-to-top i{
  position:absolute;
  bottom:-23px;
  width:50px;
  height:50px;
  background-color:var(--text);
  left:calc(50% - 25px);
  color:#fff;
  font-size:xx-large;
  font-weight:bold;
  border-radius:50%;
  text-align:center;
  cursor:pointer;
  line-height:45px}



#footer{
  background-image: url("img/bg-footer.jpg");
}
.footer h4{
  font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
    font-family:sans-serif;
    font-weight: 400;
}
.footer-text img {
  margin-bottom: 32px;
}
.footer-text p {
  font-size: 14px;
}

.footer-album a{
  background-image: url("img/footer1.jpg");
  width: calc(100% / 3 - 10px);
  height: 70px;
  margin: 0 10px 10px 0;
  float: left;
}
.footer li {
  margin-bottom: 20px;
  font-size: 14px;
}
.footer li a i {
  margin-right: 10px;
}
.footer-bottom{
  border-top: 1px solid #ddd;
  padding: 30px 0;
}
.footer-bottom :is(p, ul){
  margin-bottom: 0;
}
.footer-bottom a:not(ul a){
  color: var(--text);
}
.footer-bottom li{
  padding: 0 15px;
}
section:not(:last-of-type){
/* display: none; */
}